.background-rectangle {
    margin: 0 auto;
    height: 100%;
    width: 800px;
    background-color: black;
    z-index: -2;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
}
.content {
    color:white;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 1px;
    font-size: 75px;
}

.subTitle {
    text-align: center; 
    padding-bottom: 20px;
}

.titleHolder {
    line-height: 0.6;
    padding: 100px;
}

h2 {
    font-size: 25x;
}

h4 {
    text-align: center;
    font-size: 75px;
    margin: 5px;
}

h3 {
    font-size: 20;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    text-align: center;
}

.button-container button {

    margin-left: 25px;
    margin-right: 25px;

    background-color : rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.button-container button:hover {
    color: grey;
}

.sideBar {
    top: 50vh;
    transform: translate(0, -50%);
    background-color: black;
    height: 175px;
    width: 100px;
    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

a {
    color: white;  
}

.sideBar button {


    width: 100px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.sideBar button:hover {
    color: grey;
}

@media (max-width: 1000px) {
    .sideBar {
        display: none;
    }
}